{% extends "common.html" %}
{% load static %}
{% block title %}Cenex : About{% endblock title %}
{% block content %}
<div class="container">
    <div class="row" style="width: 100%;margin-top: 10px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-12" style="margin-top: 20px;">
            <h2
                style="color: white;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Central Express Cargo
                delivers — what you need, when and where you want it. </h2>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-4 col-lg-5"></div>
        <div class="col-lg-2 col-sm-4">
            <p style="text-align: center;">
                <a href="{% url 'home' %}" style="text-decoration: none;">Home /</a>
                <a href="{% url 'about' %}"
                    style="margin-left: 10px;text-decoration: none;color: rgb(62, 56, 56);">About :</a>
            </p>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12" style="margin-top: 20px;">
            <p style="text-align: center;font-size: large;color: rgb(62, 56, 56);">As a Company built on the
                foundational principles of commitment to excellence, impeccability of service and dedication to quality
                that compels us towards always going the extra mile in order to ensure your absolute satisfaction, we
                take pride in providing you with the highest quality, most efficient and reliable same day delivery
                shipment services available on the market!</p>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 30px;">
            <h3 style="text-align: center;color: rgb(11, 109, 170);">Our Express Delivery Service Offers :</h3>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-1"></div>
        <div class="col-sm-5" style="margin-top: 30px;">
            <ul style="font-size: large;color: rgb(62, 56, 56);">
                <li>Choice and flexibility with multiple couriers in different cities .</li>
                <li style="margin-top: 10px;">Rush service with immediate same day delivery .</li>
                <li style="margin-top: 10px;">Handling and delivery of extra weight shipments up to the weight handled
                    commercially .</li>
            </ul>
        </div>
        <div class="col-sm-5" style="margin-top: 30px;">
            <ul style="font-size: large;color: rgb(62, 56, 56);">
                <li>Standard service with same day delivery within hours .</li>
                <li style="margin-top: 10px;">Routed service where shipments are picked up and delivered .</li>
                <li style="margin-top: 10px;">Unified detailed invoicing .</li>
            </ul>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 20px;">
            <h3 style="text-align: center;color: rgb(11, 109, 170);">Our Business Strategy :</h3>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12" style="margin-top: 20px;">
            <p style="text-align: center;font-size: large;color: rgb(62, 56, 56);">At Central Express Cargo, we
                recognize that our professionalism and appearance directly reflect the image of your company. We
                understand our role as ambassadors of service to your customers and other business contacts. That’s why
                our friendly couriers are always uniformed, neatly groomed, polite, on time, and professional.</p>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 20px;">
            <h3 style="text-align: center;color: rgb(11, 109, 170);">Central Express Courier Cargo Offers :</h3>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12" style="margin-top: 20px;margin-bottom: 40px;">
            <p style="text-align: center;font-size: large;color: rgb(62, 56, 56);">Central Express Cargo offers
                customized, innovative solutions to all of your transportation needs. Your employees can focus on your
                core competencies when you allow us to take care of those tasks outside of the office. We can help you
                reduce expenses, decrease risks, increase productivity, and enhance your image.

            </p>
        </div>
    </div>
</div>
{% endblock content%}