{% extends "common.html" %}
{% load static %}
{% block title %}Cenex : Contact Us{% endblock title %}
{% block content %}
<div class="row" style="width: 100%;margin-top: -17px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-top: 50px;">
        <h2
            style="color: white;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Do You Have Any Querries? Feel Free To Contact. We Are Always Here To Help You.</h2>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" style="width: 100%;">
    <div class="col-sm-4 col-lg-5"></div>
    <div class="col-lg-2 col-sm-4">
        <p style="text-align: center;">
            <a href="{% url 'home' %}" style="text-decoration: none;">Home /</a>
            <a href="{% url 'contact' %}"
                style="margin-left: 10px;text-decoration: none;color: rgb(62, 56, 56);">Contact :</a>
        </p>
    </div>
</div>
<div class="row" style="width: 100%;">
    <div class="col-lg-4 col-sm-1"></div>
    <div class="col-lg-4 col-sm-10" style="margin-bottom: 50px;margin-top: 20px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="width: 100%;margin-top: 30px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <h5>Supervisor :</h5>
                </div>
                <div class="col-sm-4">
                    <h5>Anu</h5>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <h5>Address :</h5>
                </div>
                <div class="col-sm-4">
                    <h5>THALIPARAMBU BUILDING,
                        VENNALA P O, KOCHI</h5>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <h5>Pincode :</h5>
                </div>
                <div class="col-sm-4">
                    <h5>682028</h5>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5" style="margin-bottom: 30px;">
                    <h5>Mobile :</h5>
                </div>
                <div class="col-sm-4" style="margin-bottom: 30px;">
                    <h5>+91 7025149160 <br> +91 9656874969</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}