{% extends "common.html" %}
{% load static %}
{% block title %}Cenex : Services{% endblock title %}
{% block content %}
<div class="row" style="width: 100%;margin-top: -17px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-top: 50px;">
        <h2
            style="color: white;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Central Express Cargo on a Mission to Change the Way You Send.</h2>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" style="width: 100%;">
    <div class="col-sm-4 col-lg-5"></div>
    <div class="col-lg-2 col-sm-4">
        <p style="text-align: center;">
            <a href="{% url 'home' %}" style="text-decoration: none;">Home /</a>
            <a href="{% url 'service' %}" style="margin-left: 10px;text-decoration: none;color:rgb(62, 56, 56);">Service :</a>
        </p>
    </div>
</div>
<div class="row" style="width: 100%;margin-top: -17px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 col-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 40px;color: rgb(11, 109, 170);"
                        fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                        <path
                            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                    </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">Service from your
                        doorstep :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">There's no need to leave the house or the office to have your parcel dispatched. Instead, we provide a door-to-door delivery, from your door to theirs.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2  col-lg-1">
                      <svg xmlns="http://www.w3.org/2000/svg" style="height: 40px;color: rgb(11, 109, 170);" fill="currentColor" class="bi bi-layout-wtf" viewBox="0 0 16 16">
                        <path d="M5 1v8H1V1h4zM1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm13 2v5H9V2h5zM9 1a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9zM5 13v2H3v-2h2zm-2-1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H3zm12-1v2H9v-2h6zm-6-1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H9z"/>
                      </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">Beat The Queues :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">There's no need to leave the house or the office to have your parcel dispatched. Instead, we provide a door-to-door delivery, from your door to theirs.</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;margin-top: -17px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2  col-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 45px;color: rgb(11, 109, 170);"
                        fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                        <path
                            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">Timely deliveries :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">Certain collection services offer guaranteed next-day delivery by as early as 9 am, ideal for more urgent or time-sensitive sending.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2  col-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 45px;color: rgb(11, 109, 170);" fill="currentColor" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003 6.97 2.789ZM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461L10.404 2Z"/>
                      </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">Next-Day Delivery :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">Select your next-day parcel delivery requirements, and book the parcel collection date at a time that suits you from the comfort of your home.</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;margin-top: -17px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2  col-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 45px;color: rgb(11, 109, 170);" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                      </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">No Waiting :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">You won't need to wait in at home for a specified collection time. Instead, you can get parcels dispatched at a parcel shop on your way to work, on the school run, or on your lunch break.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="margin-top: 40px;">
        <div style="border: 2px solid white;border-radius: 25px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 col-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 45px;color: rgb(11, 109, 170);" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                      </svg>
                </div>
                <div class="col-sm-8" style="margin-top: 9px;">
                    <h4 style="color: rgb(11, 109, 170);">Cheaper :</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h6 style="color:rgb(62, 56, 56);">Because you're not paying for a courier to come out to collect your parcel, drop-off services often end up being cheaper than collection services, while still allowing you to track your package.</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;">
    <div class="col-sm-4 col-lg-4"></div>
    <div class="col-sm-5 col-lg-4" style="margin-top: 40px;">
        <h3 style="color: rgb(11, 109, 170);text-align: center;">We transfer objects like :</h3>
    </div>  
</div>
<div class="row" style="width: 100%;">
    <div class="col-sm-3 col-lg-4"></div>
    <div class="col-sm-3 col-lg-3" style="margin-top: 30px;">
        <ul style="font-size: large;color: rgb(62, 56, 56);">
            <li>Medicine & Medical Equipments.</li>
            <li  style="margin-top: 10px;">Power Tools.</li>
            <li  style="margin-top: 10px;">Food and Grocery.</li>
            <li  style="margin-top: 10px;">Home Appliances.</li>
        </ul>
    </div>  
    <div class="col-sm-3" style="margin-top: 30px;">
        <ul style="font-size: large;color: rgb(62, 56, 56);">
            <li>Printed Books.</li>
            <li  style="margin-top: 10px;">Car Accessories.</li>
            <li  style="margin-top: 10px;">Sporting Goods.</li>
            <li  style="margin-top: 10px;">& Many More....</li>
        </ul>
    </div>  
</div>
<div class="row" style="width: 100%;">
    <div class="col-sm-4  col-lg-4"></div>
    <div class="col-sm-5  col-lg-4" style="margin-top: 30px;">
        <h3 style="color: rgb(11, 109, 170);text-align: center;">Lowest Price Guarantee :</h3>
    </div>  
</div>
<div class="row" style="width: 100%;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 col-sm-12" style="margin-top: 20px;margin-bottom: 25px;">
        <p style="text-align: center;font-size: large;color: rgb(62, 56, 56);">We don’t just talk about giving you more from your parcel deliveries – we put steps in place to ensure that’s the case. Initiatives like our Lowest Price Guarantee on Central Express Cargo ensures that you’ll always get the best deal when you book through us, and having a wider range of couriers than anyone else means that our customers are always able to find a service that suits their needs as well as their budget.</p>
    </div>  
</div>
{% endblock %}