{% extends "common.html" %}
{% load static %}
{% block title %}Cenex : Services{% endblock title %}
{% block content %}
<div class="container">
    <div class="row" style="width: 100%;margin-top: 10px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-12" style="margin-top: 30px;">
            <h2
                style="color: white;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Central Express Cargo on a Mission to Change the Way You Send.</h2>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class=" col-lg-5"></div>
        <div class="col-lg-2 col-12">
            <p style="text-align: center;">
                <a href="{% url 'home' %}" style="text-decoration: none;">Home /</a>
                <a href="{% url 'service' %}"
                    style="margin-left: 10px;text-decoration: none;color:rgb(62, 56, 56);">Service :</a>
            </p>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-1"></div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">Service from your
                            doorstep:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">There's no need to leave the house or the office to have your
                            parcel dispatched. Instead, we provide a door-to-door delivery, from your door to theirs.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">Beat The Queues:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">There's no need to leave the house or the office to have your
                            parcel dispatched. Instead, we provide a door-to-door delivery, from your door to theirs.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">Timely deliveries:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">Certain collection services offer guaranteed next-day
                            delivery by as early as 9 am, ideal for more urgent or time-sensitive sending.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">Next-Day Delivery:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">Select your next-day parcel delivery requirements, and book
                            the parcel collection date at a time that suits you from the comfort of your home.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">No Waiting:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">You won't need to wait in at home for a specified collection
                            time. Instead, you can get parcels dispatched at a parcel shop on your way to work, on the
                            school run, or on your lunch break.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12" style="margin-top: 20px;">
            <div class="container" style="border: 2px solid white;border-radius: 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-1"></div>
                    <div class="col-10" style="margin-top: 7px;">
                        <h4 style="color: rgb(11, 109, 170);">Cheaper:</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-12">
                        <h6 style="color:rgb(62, 56, 56);">Because you're not paying for a courier to come out to
                            collect your parcel, drop-off services often end up being cheaper than collection services,
                            while still allowing you to track your package.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-4 col-lg-4"></div>
        <div class="col-sm-5 col-lg-4" style="margin-top: 40px;">
            <h3 style="color: rgb(11, 109, 170);text-align: center;">We transfer objects like :</h3>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-3 col-lg-4"></div>
        <div class="col-sm-3 col-lg-3" style="margin-top: 30px;">
            <ul style="font-size: large;color: rgb(62, 56, 56);">
                <li>Medicine & Medical Equipments.</li>
                <li style="margin-top: 10px;">Power Tools.</li>
                <li style="margin-top: 10px;">Food and Grocery.</li>
                <li style="margin-top: 10px;">Home Appliances.</li>
            </ul>
        </div>
        <div class="col-sm-3" style="margin-top: 30px;">
            <ul style="font-size: large;color: rgb(62, 56, 56);">
                <li>Printed Books.</li>
                <li style="margin-top: 10px;">Car Accessories.</li>
                <li style="margin-top: 10px;">Sporting Goods.</li>
                <li style="margin-top: 10px;">& Many More....</li>
            </ul>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-4  col-lg-4"></div>
        <div class="col-sm-5  col-lg-4" style="margin-top: 30px;">
            <h3 style="color: rgb(11, 109, 170);text-align: center;">Lowest Price Guarantee :</h3>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12" style="margin-top: 20px;margin-bottom: 25px;">
            <p style="text-align: center;font-size: large;color: rgb(62, 56, 56);">We don’t just talk about giving you
                more from your parcel deliveries – we put steps in place to ensure that’s the case. Initiatives like our
                Lowest Price Guarantee on Central Express Cargo ensures that you’ll always get the best deal when you
                book through us, and having a wider range of couriers than anyone else means that our customers are
                always able to find a service that suits their needs as well as their budget.</p>
        </div>
    </div>
</div>
{% endblock %}